[defaults]
host_key_checking=False
ansible.host_key_checking = false
command_warnings=False
deprecation_warnings=False
ask_pass=False
roles_path= ./roles
force_valid_group_names = ignore
private_key_file= ./ssh-keys/admin.pem
remote_user=ec2-user
inventory=hosts
